@import url("stylesheet.css"); /* Import all styles from this file */
 
/* add debug-information to some central elements
--------------------------------------------------------
*/
body {background: beige;} 
header#above {background: blueviolet;} 
header#top {border:2px dashed aquamarine;}
nav.navmenu {border:4px dotted brown;}

div#content{background:darksalmon;}
article {background:antiquewhite;}
figure {background:firebrick;}
footer.byline {background: moccasin;}

div#footer {border:1px solid lawngreen;}
footer#bottom {border:1px solid lightgreen;}